@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Light.eot');
    src: url('../fonts/Aeonik-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Light.woff2') format('woff2'),
        url('../fonts/Aeonik-Light.woff') format('woff'),
        url('../fonts/Aeonik-Light.ttf') format('truetype'),
        url('../fonts/Aeonik-Light.svg#Aeonik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-LightItalic.eot');
    src: url('../fonts/Aeonik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-LightItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-LightItalic.woff') format('woff'),
        url('../fonts/Aeonik-LightItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-LightItalic.svg#Aeonik-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Black.eot');
    src: url('../fonts/Aeonik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Black.woff2') format('woff2'),
        url('../fonts/Aeonik-Black.woff') format('woff'),
        url('../fonts/Aeonik-Black.ttf') format('truetype'),
        url('../fonts/Aeonik-Black.svg#Aeonik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('../fonts/Aeonik-Air.eot');
    src: url('../fonts/Aeonik-Air.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Air.woff2') format('woff2'),
        url('../fonts/Aeonik-Air.woff') format('woff'),
        url('../fonts/Aeonik-Air.ttf') format('truetype'),
        url('../fonts/Aeonik-Air.svg#Aeonik-Air') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-BlackItalic.eot');
    src: url('../fonts/Aeonik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-BlackItalic.woff') format('woff'),
        url('../fonts/Aeonik-BlackItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-BlackItalic.svg#Aeonik-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-BoldItalic.eot');
    src: url('../fonts/Aeonik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-BoldItalic.woff') format('woff'),
        url('../fonts/Aeonik-BoldItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-BoldItalic.svg#Aeonik-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Bold.eot');
    src: url('../fonts/Aeonik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Bold.woff2') format('woff2'),
        url('../fonts/Aeonik-Bold.woff') format('woff'),
        url('../fonts/Aeonik-Bold.ttf') format('truetype'),
        url('../fonts/Aeonik-Bold.svg#Aeonik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Medium.eot');
    src: url('../fonts/Aeonik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Medium.woff2') format('woff2'),
        url('../fonts/Aeonik-Medium.woff') format('woff'),
        url('../fonts/Aeonik-Medium.ttf') format('truetype'),
        url('../fonts/Aeonik-Medium.svg#Aeonik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('../fonts/Aeonik-AirItalic.eot');
    src: url('../fonts/Aeonik-AirItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-AirItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-AirItalic.woff') format('woff'),
        url('../fonts/Aeonik-AirItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-AirItalic.svg#Aeonik-AirItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-MediumItalic.eot');
    src: url('../fonts/Aeonik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-MediumItalic.woff') format('woff'),
        url('../fonts/Aeonik-MediumItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-MediumItalic.svg#Aeonik-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-RegularItalic.eot');
    src: url('../fonts/Aeonik-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-RegularItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-RegularItalic.woff') format('woff'),
        url('../fonts/Aeonik-RegularItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-RegularItalic.svg#Aeonik-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Regular.eot');
    src: url('../fonts/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Regular.woff2') format('woff2'),
        url('../fonts/Aeonik-Regular.woff') format('woff'),
        url('../fonts/Aeonik-Regular.ttf') format('truetype'),
        url('../fonts/Aeonik-Regular.svg#Aeonik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-ThinItalic.eot');
    src: url('../fonts/Aeonik-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-ThinItalic.woff2') format('woff2'),
        url('../fonts/Aeonik-ThinItalic.woff') format('woff'),
        url('../fonts/Aeonik-ThinItalic.ttf') format('truetype'),
        url('../fonts/Aeonik-ThinItalic.svg#Aeonik-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Thin.eot');
    src: url('../fonts/Aeonik-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aeonik-Thin.woff2') format('woff2'),
        url('../fonts/Aeonik-Thin.woff') format('woff'),
        url('../fonts/Aeonik-Thin.ttf') format('truetype'),
        url('../fonts/Aeonik-Thin.svg#Aeonik-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary: #BFCC80;
    --secondary: #313D3B;
    --gray: #9C9C9C;
    --light-gray: #F2F2F2;
    --info: #A4DEDD;
    --light-info: #EBF8F8;
    --white: #fff;
    --black: #000;
}

[class*=-dark]:hover {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

[class*=btn-outline] {
    border-color: var(--secondary);
}

[class*=btn-primary] {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

[class*=btn-primary]:hover,
[class*=btn-primary]:focus,
[class*=btn-primary]:active {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* ../Fonts */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, .h1 { font-size: 4rem; line-height: 1.1; }
h2, .h2 { font-size: 3.75rem; line-height: 1.1; }
h3, .h3 { font-size: 3rem; line-height: 1.1; }
h4, .h4 { font-size: 2.25rem; }
h5, .h5 { font-size: 1.875rem; }
h6, .h6 { font-size: 1.625rem; }

@media (min-width: 1366px) {
	.container {
		max-width: 1250px;
	}
}

html {
    font-size: 16px;
}

body {
    font-family: 'Aeonik';
    color: var(--secondary);
}

img {
    max-width: 100%;
}

*:focus {
	box-shadow: none !important;
}

.top {
	top: 0;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.bottom {
	bottom: 0;
}

.z-index-9 {
	z-index: 9 !important;
}

.z-index-10 {
	z-index: 10 !important;
}

.nav-toggle {
    padding: 0;
    background-color: transparent;
    width: 1.125rem;
    border: none;
    margin-right: .75rem;
    margin-bottom: .25rem;
}

.nav-toggle span {
    width: 100%;
    margin: .25rem 0;
    height: 2px;
    background-color: var(--secondary);
    display: block;
    border-radius: .25rem;
}

/*main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}*/

.site-header .navbar {
    padding: 1.5rem 3rem;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.05);
}

.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Aeonik';
    font-size: 1.125rem;
}


/* Banner */

.carousel-caption {
    left: 6.25rem;
    right: 6.25rem;
    bottom: 2.75rem;
    text-align: left;
    color: var(--white);
}

.carousel-indicators {
    left: 6.25rem;
    right: 6.25rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.25rem;
    justify-content: flex-start;
}

.carousel-indicators [data-bs-target] {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
}

.featured-post {
    position: relative;
    height: 100%;
}

.featured-post-img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

.featured-post-summary {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .75rem 2rem;
    color: var(--white);
}

.carousel-caption-time {
    font-size: 1.25rem;
    display: block;
    margin-bottom: .625rem;
}

.carousel-caption-title span {
    font-size: 3rem;
    display: block;
    font-weight: normal;
}

.featured-post-title {
	
}
.featured-post-title span {
    font-size: 1.875rem;
    display: block;
    font-weight: normal;
}


/* Section 01 */

.image-content-section {
	padding: 8.875rem 0;
    overflow: hidden;
}

.quote {
    position: absolute;
    top: 0;
    right: 0;
    width: 14.75rem;
    height: 19rem;
    padding: 2rem 1.25rem 1.25rem;
    background-color: var(--info);
    color: var(--white);
    border-left: .5rem solid var(--white);
    border-bottom: .5rem solid var(--white);
}

.quote h5 {
    font-size: 1.625rem;
}

.quote cite {
    font-size: .625rem;
    margin-top: auto;
    font-style: normal;
}

.content-block {
	padding: 5.5rem 3rem 2.5rem;
	background-color: var(--light-info);
}

.intro {
	font-size: 1.125rem;
	line-height: 1.3;
}

.brand-logos img {
    mix-blend-mode: multiply;
}


.section-title {
	font-weight: bold;
	margin-bottom: 2.75rem;
}



.how-it-work {
	padding-top: 2.5rem;
	padding-bottom: 7.25rem;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: bold;
}

.card-title a {
    color: inherit;
    text-decoration: none;
}
.card-body {
	padding: 1.375rem 1rem;
}


.lifely-journey {
	background-color: #F1F3E0;
}

.content {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.content h3 {
	margin-bottom: 2.125rem;
}
.lifely-journey .content-inner {
	max-width: 34rem;
	margin-left: auto;
	padding-right: 8rem;
    padding-left: 2rem;
}

.lifely-journey .image {
    min-width: 57%;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .875rem 3.25rem;
    font-size: 1.125rem;
}










.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	backface-visibility: hidden;

}
.bg-cover > img {
	visibility: hidden;
	width: 100%;
	opacity: 0;
}
.product-section {
	padding-top: 10rem;
	padding-bottom: 11.5rem;
}
.product-search {
    margin-bottom: 2.625rem;
}

.form-control {
	padding: .75rem 1.75rem;
    font-size: 1.25rem;
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}
.form-control:focus {
	background-color: var(--light-gray);
    border-color: var(--light-gray)	;
}
.tabs-block .nav-tabs {
	margin-bottom: 2.5rem;
	border-bottom-width: 2px;
}
.tabs-block .nav-tabs .nav-link {
	color: var(--gray);
    font-size: 1.125rem;
    border: none;
    padding: .5rem 0;
    font-weight: normal;
    text-align: left;
    width: 100%;
    margin-bottom: -2px;
}
.tabs-block .nav-tabs .nav-link.active {
	font-weight: bold;
	color: var(--secondary);
	border-bottom: 2px solid var(--secondary);
}

.product-card .card-body {
    padding: 1.125rem 0;
}
.product-card .card-title {
	font-size: 1.125rem;
	margin-bottom: .25rem;
}

.product-hover {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
	transition: visibility .25s, opacity .25s ease;
	visibility: hidden;
	opacity: 0;
}

.product-card:hover .product-hover {
	visibility: visible;
	opacity: 1;
}



.quote-section {
	background-color: var(--secondary);
	padding-top: 5.25rem;
	padding-bottom: 3rem;
}
.quote-right {
    min-width: 60%;
}
.quote-thumb {
	margin-bottom: -6rem;
}
.quote-content {
    max-width: 34.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: var(--white);
}
.quote-content h2 {
    line-height: 1.1;
    font-size: 3.4375rem;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
}
.video-content h2 span,
.quote-content h2 span {
    color: var(--primary);
}
.quote-content p {
    font-size: 1.5625rem;
    color: var(--primary);
}


.video-section {
	padding-top: 13.125rem;
	padding-bottom: 13.5rem;
}

.video-content {
    color: var(--white);
    max-width: 40rem;
    padding: 5.5rem 3.75rem;
}

.video-content h2 {
    line-height: 1.1;
    font-size: 3.4375rem;
    margin-bottom: 0;
}




.how-lifely-started {
	background-color: #F6F8EB;
	padding-top: 3.5rem;
	padding-bottom: 6.875rem;
}

.how-lifely-started .image {
	margin-top: -8.5rem;
	min-width: 52.75%;
}
.how-lifely-started .content-inner {
	max-width: 28.75rem;
}
.how-lifely-started .content-inner h2 {
	line-height: 1.1;
	margin-bottom: 2.5rem;
}




.blog-section {
	padding-top: 10.375rem;
	padding-bottom: 12rem;
}
.blog-post {
	position: relative;
    display: flex;
    flex-direction: column;
}
.blog-post-img {
	height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.blog-post-summary {
	position: absolute;
    padding: 3rem 3rem 3.5rem;
    bottom: 0;
    right: 0;
    left: 0;
}
.blog-post-category {
	color: var(--white);
	letter-spacing: 0.13em;
	font-size: 1.125rem;
}
.blog-post-title {
    font-size: 3rem;
    line-height: .9;
    margin-bottom: 1.25rem;
    margin-top: .5rem;
	color: var(--white);
}
.blog-post-text {
    font-size: 1.4375rem;
	margin-bottom: 0;
	color: var(--white);
}

@media ( min-width: 992px ) {

    .blog-post-half .blog-post-summary {
    	padding: .5rem 0 0;
        position: relative;
    }
    .blog-post-half .blog-post-category {
    	color: var(--primary);
    }
    .blog-post-half .blog-post-title {
        font-size: 1.875rem;
        margin-bottom: 0;
        margin-top: 0;
        color: var(--black);
    }
    .blog-post-half .blog-post-text {
    	font-size: 1.125rem;
    	color: var(--gray);
    }

}







.footer-info-section {
	background-color: var(--info);
	padding-top: 7.25rem;
	padding-bottom: 7.25rem;
}

.footer-info-section h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.255em;
}
.footer-info-section p {
	font-size: 1.125rem;
	margin-bottom: 0;
	line-height: 1.24;
}



.site-footer {
	background-color: var(--secondary);
    padding-top: 8.75rem;
    padding-bottom: 11.125rem;
}
.footer-link h5 {
    font-size: 1.5rem;
    color: var(--white);
    margin-top: .5rem;
    margin-bottom: 1.75rem;
}
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin: .625rem 0;
}

.footer-menu li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--primary);
}

.footer-menu li a:hover {
    color: var(--white);
}