// Theme color change
$primary: #BFCC80;
$secondary: #313D3B;
$gray: #9C9C9C;
$light-gray: #F2F2F2;
$info: #A4DEDD;
$light-info: #EBF8F8;
$white: #fff;
$black: #000;
$danger : #FFA38B;
$light: #F3F3F3;


$input-padding-y:  .75rem;
$input-padding-x: 1.75rem;
$input-padding-x-sm: 1rem;



$btn-padding-x: 2rem;


$accordion-button-padding-y: .75rem;
$form-check-input-border:  2px solid $secondary;
$form-check-input-checked-color:          $secondary;
$accordion-button-active-color:           $secondary;

$input-bg: $light;
$input-border-color: $light;
$input-focus-border-color: $secondary;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.75rem,
  5: 3rem,
  6: 2.25rem
);

$headings-line-height:        1.1;


// container 