@import 'fonts';
@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';

// [class*=-dark]:hover {
//     color: $white;
//     background-color: $secondary;
//     border-color: $secondary;
// }

// [class*=btn-outline] {
//     border-color: $secondary;
// }

[class*=btn-primary] {
    color: $white;
}

[class*=btn-primary]:hover,
[class*=btn-primary]:focus,
[class*=btn-primary]:active {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
.text-yellow {
    color: $yellow,
  }

@media (min-width: 1366px) {
	.container {
		max-width: 1250px;
	}
}

html {
    font-size: 16px;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

body {
    font-family: 'Aeonik';
    color: $secondary;
}

img {
    max-width: 100%;
}

.ratio > * {
    object-fit: cover;
}

.top-auto {
    top: auto !important;
}

*:focus {
	box-shadow: none !important;
}

.top {
	top: 0 !important;
}

.left {
	left: 0 !important;
}

.right {
	right: 0 !important;
}

.bottom {
	bottom: 0 !important;
}

.no-after:after {
    content: none !important;
}
.no-before:before {
    content: none !important;
}

.btn-gmail{
    background-color: #5087EE;
    color: $white;
    &:hover, &:focus{
        background-color: darken(#5087EE, 5%);
        color: #FFF;
    }
}

.btn-facebook{
    background-color: #516AB4;
    color: $white;
    &:hover, &:focus{
        background-color: darken(#516AB4, 5%);
        color: #FFF;
    }
}


// oposite margin
.ms--1 {
    margin-left: -1rem !important;
}

@for $i from 1 through 5 {
    .ls-#{$i}{
        letter-spacing: #{$i}px !important;
    }
}

@for $i from 1 through 10 {
    .z-index-#{$i}{
        z-index: #{$i} !important;
    }
}
@for $i from 6 through 10 {
    .border-#{$i}{
        border-width: #{$i}px !important;
    }
}
@for $i from 1 through 10 {
    .mw-#{$i}{
        min-width: #{$i}rem !important;
    }
}
.radio-theme{
   background-color: $light;
   color: $secondary;
}
.page-spacer {
    padding:4rem 2.5rem;
    @include media-breakpoint-down(lg) {
        padding: 1.5rem;
    }
}
.bg-primary-1{
    background-color: rgba($primary, .1);
}

.bg-primary-2{
    background-color: rgba($primary, .2);
}

.bg-primary-3{
    background-color: rgba($primary, .3);
}


.bg-info-1{
    background-color: rgba($info, .1);
}
.bg-info-2{
    background-color: rgba($info, .2);
}

.bg-info-3{
    background-color: rgba($info, .3);
}
.bg-danger-25{
    background-color: rgba($danger, .25) !important;
}
.owl-carousel {
    padding: 0 0rem;
    .owl-nav button{
        &.owl-next, &.owl-prev{
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: calc(50% - 100px);
            left: -1rem; 
            background-color: #FFF;
            
            @include media-breakpoint-down(md) {
                width: 2.5rem;
                height: 2.5rem;
            }
            span {
                font-size: 1.5rem;
                display: block;
                transform: scaleX(1.75) translateY(-3px);
                font-weight: 300; 
            }
        }
        &.owl-next{
            left: auto !important;
            right: -1rem !important;
        }
    }
}
.add-to-wishlist{
    svg{
        stroke: $dark;
        fill: none;
    }
    &.added{
        svg{
            stroke: none;
            fill:$danger
        }
    }
}
.btn-check:checked + .btn-primary, 
.btn-check:active + .btn-primary, 
.btn-primary:active, .btn-primary.active, 
.show > .btn-primary.dropdown-toggle{
    color: #FFF;
}
.cursor-pointer{
    cursor: pointer;
}

.btn {
    svg {
        vertical-align: middle;
    }
}
.wh-banner{
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
.object-cover {
    object-fit: cover;
}
.form-check-input {
    background-color: transparent;
    &:checked {
        background-color: transparent;
        border-color: #212529;
        background-size: 1rem;
    }
}

.form-switch {
    .form-check-input {
        border: none;
        background-color: #DCDCDC;
        width: 2.875rem;
        height: 1.5rem;
        background-size: 1.475rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        &:focus {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
        &:checked {
            background-color: #BFCC80;
        }
        @include media-breakpoint-down(lg) {
            transform: scale(.8);
        }
    } 
}

.modal.custom-modal {
    .modal-dialog {
        margin: 0 0 0 auto;
    }
    .modal-content {
        height: 100vh;
        border-radius: 1rem 0rem 0rem 1rem;
        border: none;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &:not(.show) {
        &.fade .modal-dialog {
            transform: translate(25%, 0);
        }
    }
}