<div class="card border-0 rounded-0 mb-4">
    <div class="card-body p-lg-4">
        <div class="card-title d-flex align-items-center">
            <svg width="16" height="16" class="me-1 mw-1">
                <use xlink:href="assets/images/marker.svg#marker" />
            </svg>
            Check if we deliver to you
        </div>
        <div class="input-group">
            <input type="text" class="form-control form-control-sm rounded-pill border" placeholder="Postcode"
                aria-label="Username" aria-describedby="basic-addon1">
            <button class="btn rounded-pill btn-primary px-4 position-relative z-index-3 ms--1">
                <svg width="10" height="14" class="d-block">
                    <use xlink:href="assets/images/right-arrow.svg#right-arrow" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="card border-0 rounded-0 mb-4 border-start border-10 border-primary">
    <div class="card-body p-lg-4">
        <div class="card-title d-flex align-items-start justify-content-between mb-0">
            <svg width="16" height="16" class="me-1 mw-1">
                <use xlink:href="assets/images/marker.svg#marker" />
            </svg>
            Yes, we deliver to Sydney, NSW 2000
            <button class="btn btn-sm btn-link p-0 text-decoration-none ms-2">Change</button>
        </div>
        <p class="mb-0 text-muted ms-3 ps-1">
            Order by 5pm to get your meal by Monday
        </p>
    </div>
</div>

<div class="card border-0 rounded-0 mb-4 border-start border-10 border-danger">
    <div class="card-body p-lg-4">
        <div class="card-title d-flex align-items-start justify-content-between mb-0">
            <svg width="16" height="16" class="me-1 mw-1">
                <use xlink:href="assets/images/marker.svg#marker" />
            </svg>
            Sorry we currently
            don’t deliver to Melbourne, VIC, 3000
            <button class="btn btn-sm btn-link text-danger  p-0 text-decoration-none ms-2">Change</button>
        </div>
    </div>
</div>