<div class="card border-0 rounded-0 mb-5">
    <div class="card-body">
        <div class="row g-2">
            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option1">09/10</label>
            </div>

            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option2">11/10</label>
            </div>

            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option3">13/10</label>
            </div>
            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option4">16/10</label>
            </div>

            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option5">18/10</label>
            </div>

            <div class="col-4">
                <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
                <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option6">20/10</label>
            </div>
        </div>
    </div>
</div>