<div class="page-spacer">
    <!-- Check availibility -->
    <div class="card border-0 rounded-0 mb-4">
        <div class="card-body p-lg-4">
            <div class="card-title d-flex align-items-center">
                <svg width="16" height="16" class="me-1 mw-1">
                    <use xlink:href="assets/images/marker.svg#marker" />
                </svg>
                Check if we deliver to you
            </div>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm rounded-pill border" placeholder="Username"
                    aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn rounded-pill btn-primary px-4 position-relative z-index-3 ms--1">
                    <svg width="10" height="14" class="d-block">
                        <use xlink:href="assets/images/right-arrow.svg#right-arrow" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="card border-0 rounded-0 mb-4 border-start border-10 border-primary">
        <div class="card-body p-lg-4">
            <div class="card-title d-flex align-items-start justify-content-between mb-0">
                <svg width="16" height="16" class="me-1 mw-1">
                    <use xlink:href="assets/images/marker.svg#marker" />
                </svg>
                Yes, we deliver to Sydney, NSW 2000
                <button class="btn btn-sm btn-link p-0 text-decoration-none ms-2">Change</button>
            </div>
            <p class="mb-0 text-muted ms-3 ps-1">
                Order by 5pm to get your meal by Monday
            </p>
        </div>
    </div>

    <div class="card border-0 rounded-0 mb-4 border-start border-10 border-danger">
        <div class="card-body p-lg-4">
            <div class="card-title d-flex align-items-start justify-content-between mb-0">
                <svg width="16" height="16" class="me-1 mw-1">
                    <use xlink:href="assets/images/marker.svg#marker" />
                </svg>
                Sorry we currently
                don’t deliver to Melbourne, VIC, 3000
                <button class="btn btn-sm btn-link text-danger  p-0 text-decoration-none ms-2">Change</button>
            </div>
        </div>
    </div>
    <!-- end availablity -->

    <!-- date selection -->
    <div class="card border-0 rounded-0 mb-4">
        <div class="card-body">
            <div class="row g-2">
                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option1">09/10</label>
                </div>

                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option2">11/10</label>
                </div>

                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option3">13/10</label>
                </div>
                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option4">16/10</label>
                </div>

                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option5">18/10</label>
                </div>

                <div class="col-4">
                    <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
                    <label class="btn btn-sm btn-primary w-100 radio-theme py-2 border-0" for="option6">20/10</label>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Sort By categories -->
    <h3>Sort By</h3>
    <div class="accordion bg-none" id="accordionExample">
        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="HeadingFeatured">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Featured" aria-expanded="false"
                    aria-controls="Featured">
                    Featured
                </button>
            </h2>
            <div id="Featured" class="accordion-collapse collapse" aria-labelledby="HeadingFeatured"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingTrending">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Trending" aria-expanded="false"
                    aria-controls="Trending">
                    Trending
                </button>
            </h2>
            <div id="Trending" class="accordion-collapse collapse" aria-labelledby="headingTrending"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingCuisine">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Cuisine" aria-expanded="false"
                    aria-controls="Cuisine">
                    Cuisine
                </button>
            </h2>
            <div id="Cuisine" class="accordion-collapse collapse" aria-labelledby="headingCuisine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingDietary">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Dietary" aria-expanded="false"
                    aria-controls="Dietary">
                    Dietary
                </button>
            </h2>
            <div id="Dietary" class="accordion-collapse collapse" aria-labelledby="headingDietary"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingIngredients">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Ingredients" aria-expanded="false"
                    aria-controls="Ingredients">
                    Ingredients
                </button>
            </h2>
            <div id="Ingredients" class="accordion-collapse collapse" aria-labelledby="headingIngredients"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingPrice">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Price" aria-expanded="false"
                    aria-controls="Price">
                    Price
                </button>
            </h2>
            <div id="Price" class="accordion-collapse collapse" aria-labelledby="headingPrice"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-transparent border-0 border-bottom">
            <h2 class="accordion-header" id="headingHealth">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Health" aria-expanded="false"
                    aria-controls="Health">
                    Health
                </button>
            </h2>
            <div id="Health" class="accordion-collapse collapse" aria-labelledby="headingHealth"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-0">
            <h2 class="accordion-header" id="headingSize">
                <button class="accordion-button shadow-none fs-5 bg-transparent border-0 fw-bold px-0 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#Size" aria-expanded="true"
                    aria-controls="Size">
                    Size
                </button>
            </h2>
            <div id="Size" class="accordion-collapse collapse show" aria-labelledby="headingSize"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-none px-0 pt-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Regular">
                        <label class="form-check-label" for="Regular">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Large" checked>
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
        
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Catgories" id="Family Size" checked>
                        <label class="form-check-label" for="Family Size">
                            Family Size
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
    </div>






    <!-- end -->
</div>