<nav class="navbar navbar-light">
    <div class="container-fluid">
        <button class="nav-toggle d-lg-none">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="index.html" class="navbar-brand py-0">
            <svg width="126" height="39" class="d-block">
                <use xlink:href="assets/images/logo.svg#logo"/>
            </svg>
        </a>
        <div class="text-end ms-auto d-flex account-menu">
            <button type="button" class="btn btn-outline-dark rounded-pill d-none d-lg-block">Sign Up</button>
            <button onclick="location.href = 'checkout.html'" type="button" class="btn btn-icon p-0 border-0 ms-3">
                <svg width="30" height="28" class="d-block">
                    <use xlink:href="assets/images/cart.svg#cart"/>
                </svg>
            </button>
        </div>
    </div>
</nav>