<div class="card product-card rounded-0 border-0">
    <div class="card-thumb position-relative">
        <img src="assets/images/image17.jpg" class="card-img-top" alt="">
        <div class="product-options">
            <div class="quote d-flex flex-column">
                <div class="quote-content bg-danger text-white">
                    <h2 class="mb-0">Chicken</h2>
                    <hr class="mt-2" />
                    <p class="small">
                        Sourced locally from Field to Feast Farm, NSW Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                    </p>
                    <cite class="mt-auto">Matt Pearson, Farmer of Field to Farm</cite>
                </div>
            </div>
            <div class="add-to-cart-row d-flex position-absolute bottom w-100 right">
                <div class="added-option col d-flex">
                    <div class="dropdown col d-flex">
                        <button class="btn bg-light fw-bold border-0 rounded-0 btn-lg px-2 px-lg-3 w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Regular
                        </button>
                        <ul class="dropdown-menu rounded-0 border-0 w-100 shadow-lg" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item px-4 py-2" href="#">Regular</a></li>
                          <li><a class="dropdown-item px-4 py-2" href="#">Large</a></li>
                          <li><a class="dropdown-item px-4 py-2" href="#">Family Size</a></li>
                        </ul>
                      </div>
                      <div class="col d-flex bg-white qty-counter" id="field1">
                        <button type="button" id="sub" class="btn p-0 border-0 col sub">
                            <svg width="14" height="2" class="d-block mx-auto">
                                <use xlink:href="assets/images/minus.svg#minus" />
                            </svg>
                        </button>
                        <input class="form-control border-0 text-center col p-0 border-0 fw-bold" type="number" id="1" value="1" min="1" max="20" />
                        <button type="button" id="add" class="btn p-0 border-0 col add">
                            <svg width="14" height="14" class="d-block mx-auto">
                                <use xlink:href="assets/images/plus.svg#plus" />
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="btn border-0 col-auto btn-light rounded-0 p-lg-3  bg-white add-to-cart">
                    <svg width="21" height="21" class="d-block">
                        <use xlink:href="assets/images/cart.svg#cart" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body px-0">
        <h5 class="card-title mb-1"><a href="#"  data-bs-toggle="modal" data-bs-target="#productDetail">LIFELY Superfood Granola </a></h5>
        <div class="d-flex flex-wrap">
            <span class="me-2"><strong>401</strong> CAL</span>
            <span class="me-2"><strong>51</strong> P</span>
            <span class="me-2"><strong>72</strong> C</span>
            <span class="me-2"><strong>7</strong> F</span>
        </div>
        <p class="card-text mx-auto text-muted">$17.50</p>
    </div>
</div>