<div class="product-detail p-lg-4">
    <div class="row g-4">
        <div class="col-lg-7">
            <div id="detailSlider" class="carousel slide w-100" data-bs-ride="carousel">
                <div class="carousel-indicators m-0 left right justify-content-center p-3">
                    <button type="button" data-bs-target="#detailSlider" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#detailSlider" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#detailSlider" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/images/image 98.jpg" alt="">
                        <div class="quote d-flex flex-column">
                            <div class="quote-content bg-danger-25 text-dark">
                                <h2 class="mb-0">Chicken</h2>
                                <hr class="mt-2" />
                                <p class="small">
                                    Sourced locally from Field to Feast Farm, NSW Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor
                                </p>
                                <cite class="mt-auto">Matt Pearson, Farmer of Field to Farm</cite>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/image 98.jpg" alt="">
                        <div class="quote d-flex flex-column">
                            <div class="quote-content bg-danger-25 text-dark">
                                <h2 class="mb-0">Chicken</h2>
                                <hr class="mt-2" />
                                <p class="small">
                                    Sourced locally from Field to Feast Farm, NSW Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor
                                </p>
                                <cite class="mt-auto">Matt Pearson, Farmer of Field to Farm</cite>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/image 98.jpg" alt="">
                        <div class="quote d-flex flex-column">
                            <div class="quote-content bg-danger-25 text-dark">
                                <h2 class="mb-0">Chicken</h2>
                                <hr class="mt-2" />
                                <p class="small">
                                    Sourced locally from Field to Feast Farm, NSW Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor
                                </p>
                                <cite class="mt-auto">Matt Pearson, Farmer of Field to Farm</cite>
                            </div>
                        </div>
                        <a class="stretched-link" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h1 class="display-5 fw-bold mb-3">Chicken White Bean Salad</h1>
            <div class="d-flex justify-content-between">
                <div class="h5 mb-0">
                    $18.00
                </div>
                <button class="btn p-0 btn-link add-to-wishlist">
                    <svg width="21" height="21" class="d-block">
                        <use xlink:href="assets/images/heart.svg#heart" />
                    </svg>
                </button>
            </div>
            <hr />
            <div class="type mb-3">
                <span class="btn bg-primary-3 fw-bold rounded-pill me-2">Gluten-Free</span>
                <span class="btn bg-info-3 fw-bold rounded-pill me-2">Dairy-free</span>
            </div>
            <div class="short-description fs-5">
                <p>Lifely connects you with food directly from the producers, sidestepping the supermarkets</p>
            </div>
            <hr />
            <div class="add-to-cart-row d-flex flex-nowrap mb-4">
                <div class="dropdown col">
                    <button class="btn bg-light fw-bold border-0 rounded-0 btn-lg px-3 w-100 dropdown-toggle"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Regular
                    </button>
                    <ul class="dropdown-menu rounded-0 border-0 w-100 shadow-lg" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item px-4 py-2" href="#">Regular</a></li>
                        <li><a class="dropdown-item px-4 py-2" href="#">Large</a></li>
                        <li><a class="dropdown-item px-4 py-2" href="#">Family Size</a></li>
                    </ul>
                </div>
                <div class="col d-flex bg-white" id="field1">
                    <button class="btn btn-primary fw-bold btn-lg px-4 rounded-0">Add to cart</button>
                    <!-- <button type="button" id="sub" class="btn p-0 border-0 col sub">
                            <svg width="14" height="2" class="d-block mx-auto">
                                <use xlink:href="assets/images/minus.svg#minus" />
                            </svg>
                        </button>
                        <input class="form-control border-0 text-center col p-0 border-0" type="number" id="1" value="1" min="1" max="20" />
                        <button type="button" id="add" class="btn p-0 border-0 col add">
                            <svg width="14" height="14" class="d-block mx-auto">
                                <use xlink:href="assets/images/plus.svg#plus" />
                            </svg>
                        </button> -->
                </div>
            </div>

            <ul class="nav nav-tabs bg-light border-0 mb-3 detail-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
                        type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Nutritional-tab" data-bs-toggle="tab" data-bs-target="#Nutritional"
                        type="button" role="tab" aria-controls="Nutritional" aria-selected="false">Nutritional</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Ingredients-tab" data-bs-toggle="tab" data-bs-target="#Ingredients1"
                        type="button" role="tab" aria-controls="Ingredients1" aria-selected="false">Ingredients</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="Overview-tab">
                    <div class="overview-detail p-3 py-2 bg-light">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Overflow</th>
                                    <td class="text-end">1424/340</td>
                                </tr>
                                <tr>
                                    <th scope="row">Protein</th>
                                    <td class="text-end">18.4g</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fat</th>
                                    <td class="text-end">22.4g</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sat Fat</th>
                                    <td class="text-end">10.2g</td>
                                </tr>
                                <tr>
                                    <th scope="row">Carbs</th>
                                    <td class="text-end">14g</td>
                                </tr>
                                <tr>
                                    <th class="border-0" scope="row">Fibre</th>
                                    <td class="border-0 text-end">4.9g</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="Nutritional" role="tabpanel" aria-labelledby="Nutritional-tab">
                    <p class="fs-5 text-muted">
                        Lifely connects you with food directly from the producers, sidestepping the supermarkets. Lifely
                        connects you with food directly from the producers, sidestepping the supermarkets
                    </p>
                </div>
                <div class="tab-pane fade" id="Ingredients1" role="tabpanel" aria-labelledby="Ingredients-tab">
                    <div>
                        <p>
                            Ingredients: Chicken Breast (37%), Brown Rice (31%), Onion (6%), Corn (5%), Carrot (4.5%),
                            Salsa (4.5%), Crushed Tomato (3%), Olive Oil (1%), Cajun Spice (1%), Lemon Juice (0.5%),
                        </p>
                        <p>
                            <strong>CONTAINS:</strong> CEREALS CONTAINING GLUTEN (WHEAT), MILK, SOY & SULPHITES.<br />
                            <strong>MAY CONTAIN:</strong> EGG, FISH, TREE NUTS, SESAME & PEANUTS. Copy
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-reviews p-lg-4">
    <h3 class="mb-4">Reviews</h3>
    <div class="row">
        <div class="col-lg-5">
            <div class="overoll-rate p-5 bg-light mb-4">
                <div class="d-flex align-items-center">
                    <div class="display-3 fw-bold me-3">5.0</div>
                    <div class="stars">
                        <div><svg height="20" width="100" class="d-block">
                                <use xlink:href="assets/images/star.svg#star" />
                            </svg>
                        </div>
                        <div>Based on 20 reviews</div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row align-items-center mb-2">
                    <div class="col-auto fw-bold">
                        5 stars
                    </div>
                    <div class="col">
                        <div class="bg-light rounded-pill review-draw overflow-hidden">
                            <span class="d-block bg-primary h-100" style="width:70%"></span>
                        </div>
                    </div>
                    <div class="col-auto fw-light">
                        (7)
                    </div>
                </div>

                <div class="row align-items-center mb-2">
                    <div class="col-auto fw-bold">
                        4 stars
                    </div>
                    <div class="col">
                        <div class="bg-light rounded-pill review-draw overflow-hidden">
                            <span class="d-block bg-primary h-100" style="width:90%"></span>
                        </div>
                    </div>
                    <div class="col-auto fw-light">
                        (10)
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <div class="col-auto fw-bold">
                        3 stars
                    </div>
                    <div class="col">
                        <div class="bg-light rounded-pill review-draw overflow-hidden">
                            <span class="d-block bg-primary h-100" style="width:50%"></span>
                        </div>
                    </div>
                    <div class="col-auto fw-light">
                        (5)
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <div class="col-auto fw-bold">
                        2 stars
                    </div>
                    <div class="col">
                        <div class="bg-light rounded-pill review-draw overflow-hidden">
                            <span class="d-block bg-primary h-100" style="width:40%"></span>
                        </div>
                    </div>
                    <div class="col-auto fw-light">
                        (2)
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <div class="col-auto fw-bold">
                        1 star
                    </div>
                    <div class="col">
                        <div class="bg-light rounded-pill review-draw overflow-hidden">
                            <span class="d-block bg-primary h-100" style="width:20%"></span>
                        </div>
                    </div>
                    <div class="col-auto fw-light">
                        (5)
                    </div>
                </div>

            </div>
            <hr />
            <div class="text-center mt-4">
                <button class="btn rounded-pill fw-bold btn-primary">Write a review</button>
            </div>
        </div>
        <div class="col-lg-7 ps-lg-5">
            <div class="customers-review">
                <div class="review mb-5">
                    <div class="user-detail d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                            <i class="user-circle rounded-circle me-2">
                                <svg width="15" height="14" class="d-block">
                                    <use xlink:href="assets/images/review-icon.svg#review-icon" />
                                </svg>
                            </i>
                            <span>Lydia Thomas</span>
                        </div>
                        <div class="written-date small fw-light">12/12/2021</div>
                    </div>
                    <div class="given-star d-flex align-items-center mb-3">
                        <svg height="20" width="100" class="d-block me-3">
                            <use xlink:href="assets/images/star.svg#star" />
                        </svg>
                        <h4 class="mb-0">So good!</h4>
                    </div>
                    <p class="text-muted">Lifely connects you with food directly from the producers, sidestepping the supermarkets. We make exceptional food and deliver it directly to your door in plastic free packaging. 
                    </p>
                    <hr />
                </div>

                <div class="review mb-5">
                    <div class="user-detail d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                            <i class="user-circle rounded-circle me-2">
                                <svg width="15" height="14" class="d-block">
                                    <use xlink:href="assets/images/review-icon.svg#review-icon" />
                                </svg>
                            </i>
                            <span>Lydia Thomas</span>
                        </div>
                        <div class="written-date small fw-light">12/12/2021</div>
                    </div>
                    <div class="given-star d-flex align-items-center mb-3">
                        <svg height="20" width="100" class="d-block me-3">
                            <use xlink:href="assets/images/star.svg#star" />
                        </svg>
                        <h4 class="mb-0">So good!</h4>
                    </div>
                    <p class="text-muted">Lifely connects you with food directly from the producers, sidestepping the supermarkets. We make exceptional food and deliver it directly to your door in plastic free packaging. 
                    </p>
                    <hr />
                </div>

                <div class="review mb-4">
                    <div class="user-detail d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                            <i class="user-circle rounded-circle me-2">
                                <svg width="15" height="14" class="d-block">
                                    <use xlink:href="assets/images/review-icon.svg#review-icon" />
                                </svg>
                            </i>
                            <span>Lydia Thomas</span>
                        </div>
                        <div class="written-date small fw-light">12/12/2021</div>
                    </div>
                    <div class="given-star d-flex align-items-center mb-3">
                        <svg height="20" width="100" class="d-block me-3">
                            <use xlink:href="assets/images/star.svg#star" />
                        </svg>
                        <h4 class="mb-0">So good!</h4>
                    </div>
                    <p class="text-muted">Lifely connects you with food directly from the producers, sidestepping the supermarkets. We make exceptional food and deliver it directly to your door in plastic free packaging. 
                    </p>
                    <hr />
                </div>
                <nav>
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link rounded-pill border-0 text-muted " href="#">&nbsp; < &nbsp;</a></li>
                      <li class="page-item"><a class="page-link rounded-pill border-0 text-muted" href="#">1</a></li>
                      <li class="page-item"><a class="page-link rounded-pill border-0 text-dark fw-bold" href="#">2</a></li>
                      <li class="page-item"><a class="page-link rounded-pill border-0 text-muted" href="#">3</a></li>
                      <li class="page-item"><a class="page-link rounded-pill border-0 text-muted" href="#">&nbsp; > &nbsp;</a></li>
                    </ul>
                  </nav>
                  
               
                
            </div>
        </div>
    </div>
</div>
<div class="related-products p-lg-4">
    <h3 class="mb-4">You might also like</h3>
    <div class="owl-carousel related-items">
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
    </div>
</div>