<div class="card product-card rounded-0 border-0">
    <div class="card-thumb position-relative">
        <img src="assets/images/image17.jpg" class="card-img-top" alt="">
        <div class="product-hover">
            <div class="add-to-cart-row d-flex position-absolute bottom left right">
                <div class="dropdown col">
                    <button class="btn bg-light fw-bold border-0 rounded-0 btn-lg px-2 px-lg-3 w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Regular
                    </button>
                    <ul class="dropdown-menu rounded-0 border-0 w-100 shadow-lg" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item px-4 py-2" href="#">Regular</a></li>
                      <li><a class="dropdown-item px-4 py-2" href="#">Large</a></li>
                      <li><a class="dropdown-item px-4 py-2" href="#">Family Size</a></li>
                    </ul>
                  </div>
                  <div class="col d-flex bg-white" id="field1">
                    <button type="button" id="sub" class="btn p-0 border-0 col sub">
                        <svg width="14" height="2" class="d-block mx-auto">
                            <use xlink:href="assets/images/minus.svg#minus" />
                        </svg>
                    </button>
                    <input class="form-control border-0 text-center col p-0 border-0" type="number" id="1" value="1" min="1" max="20" />
                    <button type="button" id="add" class="btn p-0 border-0 col add">
                        <svg width="14" height="14" class="d-block mx-auto">
                            <use xlink:href="assets/images/plus.svg#plus" />
                        </svg>
                    </button>
                </div>
            </div>
            <a class="btn btn-light rounded-0 p-lg-3 position-absolute top right bg-white add-to-cart" href="#">
                <svg width="30" height="28" class="d-block">
                    <use xlink:href="assets/images/cart.svg#cart" />
                </svg>
            </a>
        </div>
    </div>
    <div class="card-body px-0">
        <h5 class="card-title mb-1"><a href="#">LIFELY Superfood Granola </a></h5>
        <div class="d-flex flex-wrap">
            <span class="me-2"><strong>401</strong> CAL</span>
            <span class="me-2"><strong>51</strong> P</span>
            <span class="me-2"><strong>72</strong> C</span>
            <span class="me-2"><strong>7</strong> F</span>
        </div>
        <p class="card-text mx-auto text-muted">$17.50</p>
    </div>
</div>