<div class="similar-products">
    <h3 class="mb-4">You might also like</h3>
    <div class="owl-carousel related-items">
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
        <div class="item">
            <div include-html="./components/product.html"></div>
        </div>
    </div>
</div>