<div class="social-share d-flex align-items-center">
    <label class="me-4 ms-lg-0 ms-2">Share: </label>
    <div class="icons d-flex">
        <a href="#">
            <svg class="d-block" width="30" height="30" fill="#BFCC80">
                <use xlink:href="assets/images/facebook.svg#facebook"></use>
            </svg>
        </a>
        <a href="#" class="ms-3">
            <svg class="d-block" width="30" height="30" fill="#BFCC80" stroke="#BFCC80">
                <use xlink:href="assets/images/instagram.svg#instagram"></use>
            </svg>
        </a>
    </div>
</div>