<div class="social-share d-flex">
    <label>Share</label>
    <div class="icons d-flex">
        <a href="#">
            <svg class="d-block" width="30" height="30" fill="yellow">
                <use xlink:href="assets/images/facebook.svg#facebook"></use>
            </svg>
        </a>
        <a href="#" class="ms-3">
            <svg class="d-block" width="30" height="30">
                <use xlink:href="assets/images/instagram.svg#instagram"></use>
            </svg>
        </a>
    </div>
</div>