<div class="social-login d-grid gap-3 mb-3">
    <button class="btn btn-gmail rounded-pill">
        <svg class="me-2" width="27" height="27">
            <use xlink:href="assets/images/gmail-icon.svg#gmail-icon"></use>
        </svg> <span class="align-text-top">Sign Up with Google</span>
    </button>
    <button class="btn btn-facebook rounded-pill">
        <svg class="me-2" width="26" height="26">
            <use xlink:href="assets/images/facebook-icon.svg#facebook-icon"></use>
        </svg> <span class="align-text-top">Sign Up with Facebook</span>
    </button>
</div>
<div class="or-line d-flex mb-3">
    <hr class="col">
    <span class="col-auto mx-2">or</span>
    <hr class="col">
</div>
<div class="auth-option mb-4">
    <button class="btn w-100 btn-outline-primary sign-option-btn rounded-pill mb-2 btn-svg-primary">
        <svg class="me-2"  width="26" height="26">
            <use xlink:href="assets/images/email.svg#email"></use>
        </svg>
        <span class="align-text-top">Sign Up with Email</span>
    </button>
    <p class="text-center">Already have an account?  <strong class="cursor-pointer">Log in</strong></p>
</div>
<div class="signin-form">
    <div class="form-group mb-4">
        <label for="fullName" class="form-label fw-bold">Name</label>
        <div class="row">
            <div class="col">
                <input type="text" id="fullName" class="form-control" placeholder="First Name" />
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last Name" />
            </div>
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="inputEmail" class="form-label fw-bold">Email</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email" />
    </div>

    <div class="form-group mb-4">
        <label for="inputPassword" class="form-label fw-bold">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" />
    </div>

    
    <div class="form-group mb-4">
        <label for="inputPostcode" class="form-label fw-bold">Postcode</label>
        <input type="text" id="inputPostcode" class="form-control" placeholder="Postcode" />
    </div>
    

    <div class="form-group mb-3">
        <p class="text-black small px- col-lg-10">By continuing, you agree to our Terms and Privacy Policy.
            Already have an account? <strong class="cursor-pointer">Log in</strong></p>
    </div>

    <div class="form-group">
        <button class="btn py-2 fs-5 fw-bold btn-primary rounded-pill">Sign Up</button>
    </div>

</div>