<div>
    <div id="forgot-form">
        <div class="mb-4">
            <h2 class="mb-3">Reset your password</h2>
            <p class="text-muted">Enter your email below and we’ll send you a link to reset your password.</p>
        </div>

        <div class="form-group mb-4">
            <label for="inputEmail" class="form-label fw-bold">Email</label>
            <input type="text" id="inputEmail" class="form-control"  placeholder="Email" />
            <div class="invalid-feedback d-block">We couln’t find any email addresses that match</div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <button
                class="btn btn-lg btn-default py-2 px-0 fw-bold text-muted">Back</button>
            <button onclick="siteNavigate('forgot-form', 'forgot-thank-you')" class="btn py-2 fs-5 fw-bold btn-primary rounded-pill">Send Link</button>
        </div>
    </div>
    <div id="forgot-thank-you" style="display: none;" class="text-center">
        <svg class="me-2" width="42" height="42">
            <use xlink:href="assets/images/checked.svg#checked"></use>
        </svg>
        <div class="display-6 my-4 px-0 mx-auto col-lg-10 fw-bold">
            We’ve sent a link to reset your password
        </div>
        <div class="fs-5">
            <span class="text-muted d-block">Didnt Recieve an email?</span>
            <button class="btn btn-link text-dark fs-5 lh-1 fw-bold p-0">resend reset link</button>
        </div>
    </div>
</div>